/* General Styles */
.root {
    -fx-background-image: url(/image/Back.jpg); /* Replace with your actual path */
}

/* Scene Styles */
.scene {
    -fx-padding: 20px;
}

/* Button Styles */
.button {
    -fx-padding: 14px 224px;
    -fx-background-color: #000000;
    -fx-background-radius: 16px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.05), 1, 0, 0, 2);
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-family: "Comic Sans MS";
}

.button-container {
    -fx-alignment: CENTER;
    -fx-pref-width: 343px;
    -fx-pref-height: 58px;
}

.button:hover {
    -fx-background-color: #0069d9;
}

.button:focused {
    -fx-ring-width: 2px;
    -fx-ring-color: #0062cc;
}

/* Label Styles */
.label {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 17px;
    -fx-text-fill: #ffffff;
}

/* Text Field and Password Field Styles */
.text-field, .password-field {
    -fx-background-color: white;
    -fx-padding: 8px;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
}

.text-field:focused, .password-field:focused {
    -fx-border-color: #007bff;
}

/* GridPane Styles */
.grid-pane {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

/* CAREFUND App Title */
.label-title { 
    -fx-font-family: "JejuHallasan"; 
    -fx-font-size: 128px; 
    -fx-font-weight: normal; 
    -fx-text-fill: #ffffff; 
    -fx-alignment: center; 
    -fx-padding: 15px 0; 
    -fx-translate-x: 0px; 
    -fx-translate-y: -150px; 
    /* -fx-pref-width: 0px; 
    -fx-pref-height: 0px; */
}

/* ComboBox Styles */
.combo-box {
    -fx-font-family: "Comic Sans MS";
    -fx-background-color: white;
    -fx-padding: 8px;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
}


.radio-button {
    -fx-font-family: "Comic Sans MS";
}
.history-table {
    -fx-background-color: white;
    -fx-table-cell-border-color: black;
}

.history-table .column-header {
    -fx-background-color: #000000;
    -fx-text-fill: white;
    -fx-font-family: "Comic Sans MS";
}

.history-table .table-cell {
    -fx-text-fill: black;
    -fx-font-family: "Comic Sans MS";
    -fx-alignment: center;
}

